version: 1.0.{build}
branches:
  only:
  - master
skip_branch_with_pr: true
image: Visual Studio 2019
configuration: Release
shallow_clone: true
init:
  - cmd: dotnet --version
dotnet_csproj:
  patch: true 
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
nuget:
  project_feed: true 
before_build: 
- ps: dotnet restore 
build_script: 
  - dotnet pack --no-restore
test_script:
  - dotnet test --no-build
artifacts:
  path: '**\*.nupkg'
  name: NuGet
deploy:
  provider: NuGet
  api_key:
    secure: +gGU9iifFY4osTq2ZOq/V1Nj2XR6yBawXYT61Gql2/PRtZ9ORjuFvAmr9E52ZIBB
  skip_symbols: false
  artifact: /.*\.nupkg/
  on: 
    branch: master